.bestsellers {
    height: 603px;
    background-color: #F0F0F2;
    position: relative;
}

.bestsellers-info {
    margin: 0 auto;
    width: 1420px;
}

.bestsellers-caption{
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.bestsellers-caption p, a {
    font-size: 24px;
    font-weight: 700;
    color: #292D51;
    line-height: 32.68px;
}

.bestsellers-caption a{
    text-decoration: underline 1px;
}

.bestsellers-items {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}


.more {
    position: absolute;
    cursor: pointer;
    left: 93%;
    width: auto;
    margin-top: 12%;
}
.less {
    position: absolute;
    cursor: pointer;
    left: 7%;
    width: auto;
    margin-top: 12%;
    transform: rotate(180deg);
    z-index: 1;
}

.arrow{
    position: relative;
    padding-top: 50%;
}

@media screen and (max-width: 450px) {
    .bestsellers-info {
        width: 343px;
    }

    .bestsellers-items {
        gap: 19px;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .more {
        left: 85%;
    }

    .less {
        left: 5%;
    }

    .bestsellers-caption {
        padding: 16px 0;
    }

        .bestsellers-caption p, a {
            font-size: 16px;
            line-height: 22px;
        }

        .bestsellers-caption a {
            font-size: 12px;
            line-height: 22px;
        }
}
