.arrows {
  color: white;
  display: flex;
  font-size: 30px;
  justify-content: space-between;
  height: 100%;
  position: absolute;
  top: 30%;
  width: 100%;
  z-index: 1;
}

.arrows .arrow {
  height: 30px;
  width: 30px;
}

.arrows .arrow:hover {
  cursor: pointer;
}

.left {
  background-image: url(../../../assets/images/Arrow-navigation.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 5px;
  transform: rotate(180deg);
}

.right {
  background-image: url(../../../assets/images/Arrow-navigation.svg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5px;
  transform: rotate(180deg);
}
