.catalog-caption {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
}

.catalog-caption p{
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #0F0E0E;
}

.catalog-caption img {
    width: 17px;
    cursor: pointer;
}

.search {
    height: 40px;
}

.page-search input{
    width: 100%;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: none;
    float: left;
    padding-left: 40px;
    position: relative;
    margin-bottom: 20px;
}

.page-search .search-icon {
    position: absolute;
    z-index: 1;
    padding-top: 9px;
    padding-left: 10px;
    width: 18px;
    height: 18px;
}

.page-image {
    padding: 20px 0;
    width: 100%;
    border-radius: 28px;
}

.page-image img{
    width: 100%;
    height: auto;
    border-radius: 28px;
}

.filter {
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: absolute;
    width: 255px;
    background: #f0f0f2;
    z-index: 1;
    border: 1px solid #a7a7a8;
    border-radius: 28px;
    padding: 26px 0 0 36px;
    top: 70px;
    left: 82%;
    display: none
}

    /* Links inside the dropdown */
    .dropdown-content a {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #292d51;
        padding-bottom: 28px;
        text-decoration: none;
        display: block;
    }

.classNameBlock {
    font-size: 24px;
    font-weight: 700;
    color: #292D51;
    line-height: 32.68px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: center;
}

.classNameBlockLast {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #000000;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .page-image {
        padding: 16px 0;
        width: 100%;
    }

    .page-image img{
        width: 100%;
        height: 214px;
    }

    .page-search input {
        margin-bottom: 16px;
    }

    .catalog-caption p {
        font-size: 12px;
        line-height: 16px;
    }

    .page-search .search-icon {
        padding-top: 12px;
    }


}