.all-items {
  background-color: #f0f0f2;
  position: relative;
}

.products_items {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 25px;
}

@media screen and (max-width: 450px) {
  .products_items {
    display: flex;
    flex-wrap: wrap;
    gap: 19px 16px;
  }
}
