.novelties {
  height: 603px;
  background-color: #f0f0f2;
  position: relative;
}

.novelties-info {
    margin: 0 auto;
    width: 1420px;
}

.novelties-caption {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.novelties-caption p,
a {
  font-size: 24px;
  font-weight: 700;
  color: #292d51;
  line-height: 32.68px;
}

.novelties-caption a {
  text-decoration: underline 1px;
}

.novelties-items {
    display: flex;
    gap: 40px;
    padding: 0 40px;
}

.more {
    position: absolute;
    cursor: pointer;
    left: 93%;
    width: 3%;
    margin-top: 12%;
}

.less {
    position: absolute;
    cursor: pointer;
    width: 7%;
    right: 100%;
    margin-top: 12%;
    transform: rotate(180deg);
    z-index: 1;
}

.arrow {
    position: relative;
    padding-top: 50%;
}