.main {
  background-color: #f0f0f2;
  height: 596px;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%
}

/*.slide {*/
.main-share {
  display: flex;
  height: 500px;
  width: 80%;
  text-align: center;
  margin: 48px auto;
  background-color: #ffffff;
  justify-content: center;
  border-radius: 28px;
}

.main-share-text {
  flex: 3 1 100px;
  padding: 120px 0;
  line-height: 65px;
}

.main-share-text p {
  font-size: 48px;
  padding: 0 5%;
  color: #292d51;
}

.main-share-img {
  flex: 2 1 100px;
  border-radius: 0px 28px 28px 0px;
}

.main-share-img img {
  width: 520px;
  height: 500px;
  border-radius: 0px 28px 28px 0px;
}

.main-more {
    position: absolute;
    cursor: pointer;
    left: 93%;
    width: auto;
}

.main-less {
    position: absolute;
    cursor: pointer;
    left: 3%;
    width: auto;
    transform: rotate(180deg);
    z-index: 1;
}

@media screen and (max-width: 1200px) {
  .main-share-img {
    position: relative;
    overflow: hidden;
  }

  .main-share-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}

@media screen and (max-width: 1000px) {
  .main-share-text p {
    font-weight: 700;
    font-size: 36px;
  }

  .main-share-text {
    padding-top: 70px;
  }
}

@media screen and (max-width: 450px) {
  .main {
    height: 160px;
  }

  .main-share {
    height: 136px;
    margin: 12px auto;
  }

  .main-share-img img {
    height: 136px;
    width: 114px;
  }

  .main-share-text p {
    font-size: 14px;
    line-height: 19px;
  }

  .main-share-text {
    padding: 20px 24px;
    flex: 20 1 100px;
  }

    .main-more img, .main-less img {
        width: 24px;
        height: 24px;
    }

    .main-less {
        left: 2%;
    }
}
