.stock {
  margin: 0 auto;
  width: 1360px;
}

.stock-caption {
  padding: 17px 0 16px;
  display: flex;
  justify-content: space-between;
}

.stock-caption p {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #0f0e0e;
}

.stock-caption img {
  width: 17px;
  cursor: pointer;
}

.promotions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

@media screen and (max-width: 450px) {

    .stock {
        width: 343px;
    }

    .stock-caption {
        padding: 40px 0 30px;
        
    }

        .stock-caption p {
            font-size: 16px;
            line-height: 22px;
        }

    .promotions {
        flex-direction: column;
    }
}