.more {
    position: absolute;
    cursor: pointer;
    right: 99%;
    width: 3%;
    margin-top: 12%;
}
.less {
    position: absolute;
    cursor: pointer;
    width: 3%;
    left: 1%;
    margin-top: 12%;
    transform: rotate(180deg);
}



