.product-item {
  display: flex;
  flex-direction: column;
  width: 252px;
  height: 450px;
  background-color: #ffffff;
  border-radius: 16px 16px 0 0;
}

.product-img {
  height: 284px;
  position: relative;
  width: 252px;
}

.product-img img {
  height: 284px;
  width: 252px;
  position: relative;
  border-radius: 16px 16px 0 0;
}

.product-price {
  display: flex;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  justify-content: space-between
}

.actual-price,
.old-price {
  width: 126px;
  height: 27px;
  padding-top: 4px;
}

.actual-price {
  background-color: #292d51;
  border-radius: 0 0 8px 8px;
}

.old-price {
  color: #3e3e44;
  text-decoration-line: line-through;
  text-decoration-thickness: 1px;
}

.product-about {
  padding: 3.5px 16px 0 16px;
}

.item-name {
  color: #292d51;
  font-weight: 700;
  line-height: 22px;
}

.item-number {
  color: #292d51;
  padding: 8px 0 18.5px 0;
  font-size: 14px;
  line-height: 19px;
}

.add-to-basket {
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  width: 77px;
  height: 40px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:active {
  background-color: #a7a7a8;
}

.shop-rate {
  display: flex;
}

.rating {
  padding-left: 20px;
  font-size: 14px;
  line-height: 19px;
}

.presence {
  width: 105px;
  left: 20px;
}

.not-available {
  background-color: #a7a7a8;
}

.available {
  background-color: #292d51;
}

.sale,
.presence {
  position: absolute;
  height: 27px;
  top: 20px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  padding-top: 4px;
  color: #ffffff;
}

.sale {
  width: 49px;
  background-color: #292d51;
  right: 20px;
  z-index: 1;
}

.rating-reviews {
  display: flex;
  align-items: center;
}

.saved-product-rating span {
    padding-right: 4px;
    font-size: 20px;
    line-height: 1;
    color: #a7a7a8;
}

.saved-product-rating > span:before {
    content: "★";
}

.saved-product-rating > span.active {
    color: #292d51;
}

.reviews-number {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #292d51;
  padding-left: 2px;
  margin-top: 2px;
}

@media screen and (max-width: 450px) {
    .product-item {
        width: 162px;
        height: 308px;
    }

    .product-img {
        height: 190px;
    }

        .product-img img {
            width: 162px;
            height: 190px;
        }

    .product-price {
        gap: 24px;
        padding: 0 6px;
        text-align: start
    }

    .actual-price,
    .old-price {
        height: 22px;
        padding-top: 6px;
        background-color: #FFFFFF;
        color: #292d51
    }

    .actual-price, .item-name {
        
        font-weight: 700;
    }

    .actual-price,
    .old-price, .item-name, .item-number, .rating, .reviews-number {
        font-size: 12px;
        line-height: 16px;
    }

    .old-price {
        color: #3e3e44;
        text-decoration-line: line-through;
        text-decoration-thickness: 1px;
    }

    .product-about {
        padding: 2px 6px 0 6px;
    }

    .item-number{
        padding: 2px 0 4px;
    }

    .add-to-basket {
        padding: 4px 14px;
        width: 52px;
        height: 32px;
    }

    .add-to-basket img {
        width: auto;
        height: 24px;
    }

    .saved-product-rating span {
        padding-right: 0;
        font-size: 12px;
    }

    .sale,
    .presence {
        height: 24px;
        top: 10px;
        font-size: 12px;
        line-height: 16px;
    }

    .sale {
        width: 36px;
        background-color: #292d51;
        right: 6px;
    }

    .presence {
        width: auto;
        left: 6px;
        background-color: rgba(0, 120, 201, 0)
    }


    .available {
        color: #292d51;
    }

    .not-available {
        color: #A7A7A8;
    }
}
