.catalog-close {
  padding-right: 3%;
  display: flex;
  justify-content: flex-end;
  margin-top: -25px;
}

.catalog-close img {
  width: 17px;
  cursor: pointer;
  height: 17px;
}

.catalog {
  background-color: #f0f0f2;
  padding: 40px 0;
}

.catalog-search .search-icon {
    position: absolute;
    z-index: 1;
    padding-top: 6px;
    padding-left: 10px;
    width: 18px;
    height: 18px;
}

.catalog-search input {
    width: 1137px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    border: none;
    float: left;
    padding-left: 40px;
    position: relative;
}

.catalog-search::placeholder {
  color: #a7a7a8;
}

.search img {
  position: absolute;
  z-index: 1;
  padding-top: 10px;
  padding-left: 10px;
}

.catalog-categories-caption {
  font-size: 24px;
  font-weight: 700;
  color: #292d51;
  line-height: 32.68px;
}

.classNameBlock {
  font-size: 24px;
  font-weight: 700;
  color: #292d51;
  line-height: 32.68px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  align-items: center;
}

.classNameBlockLast {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #000000;
  border: none;
  cursor: pointer;
}

.filter {
  position: relative;
}

@media screen and (max-width: 450px) {
  .catalog {
    padding: 20px 0;
  }

  .catalog-search input{
    height: 35px;
    width: 256px;
  }

  .classNameBlock,
  .classNameBlockLast {
    font-size: 14px;
    line-height: 19px;
  }

  .classNameBlock {
    padding-bottom: 27px;
  }

    .catalog-search .search-icon {
        padding-top: 4px;
    }
}
