.header {
  display: flex;
  background-color: #3e3e44;
  height: 60px;
  color: #ffffff;
  padding: 0 35px;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
    display: none;
}
.navigate_elem {
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}


.header-phone {
  font-weight: 700;
}

.header-search {
  width: 245px;
  height: 30px;
  border-radius: 8px;
  outline: none;
  border: none;
  float: left;
  padding-left: 40px;
  position: relative;
}

::placeholder {
  color: #292d51;
}

.search-icon {
  position: absolute;
  z-index: 1;
  padding-top: 5px;
  padding-left: 10px;
  width: 18px;
  height: 18px;
}

.header-schedule {
  display: flex;
  flex-direction: column;
  height: 42px;
  justify-content: space-between;
  text-align: center;
}

.basket {
  position: relative;
  padding-top: 5px;
}

.basket-counter {
  background-color: #ffffff;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  position: absolute;
  top: -1px;
  right: -14px;
}

.counter {
    color: #292D51;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 22px;
}

@media screen and (max-width: 450px) {
    .header {
        height: 46px;
        padding: 0 11px;
    }

    .menu-icon {
        display: inline-block;
        cursor: pointer;
    }

    .logo img{
        width: 70px;
        height: 22px;
    }

    .navigate_elem {
        display: none;
    }


    .header-phone {
        display: none;
    }

    .header-search {
        width: 201px;
        height: 20px;
        padding-left: 32px;
    }

    ::placeholder {
        font-size: 12px;
        line-height: 16px;
    }

    .search-icon {
        padding-top: 3px;
        width: 12px;
        height: 12px;
    }

    .search-icon img{
        width: 16px;
        height: 16px;
    }

    .header-schedule {
        display: none
    }

    .basket {
        position: relative;
        padding-top: 5px;
    }

    .basket img{
        width: 24px;
        height: 24px;
    }

    .basket-counter {
        width: 13px;
        height: 13px;
        top: -1px;
        right: -5px;
    }

    .counter {
        color: #292D51;
        font-size: 8px;
        align-items: center;
        height: 13px;
    }
    

}