body {
  background-color: #ffffff;
}

.payment-methods {
  margin: 0 auto;
  width: 1360px;
}

.payment-methods-caption {
  padding: 40px 0 30px;
  display: flex;
  justify-content: space-between;
}

.payment-methods-caption p {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #0f0e0e;
}

.payment-methods-caption img {
  width: 17px;
  cursor: pointer;
}

.method {
  padding-bottom: 30px;
}

.method-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  padding-bottom: 30px;
}

.method p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.method ul {
  margin-left: 20px;
}

.method li {
  line-height: 2;
}

@media screen and (max-width: 450px) {
  .payment-methods {
    width: 343px;
  }

  .payment-methods-caption {
    padding: 20px 0 17px;
  }

  .payment-methods-caption p,
  .method-name {
    font-size: 16px;
    line-height: 22px;
  }

  .method,
  .method-name {
    padding-bottom: 16px;
  }

  .method p {
    font-size: 14px;
    line-height: 19px;
  }

  .method ul {
    margin-left: 20px;
  }

  .method li {
    line-height: 1.5;
    font-size: 14px;
  }
}
