body {
  background-color: #f0f0f2;
}

button:active {
  background-color: #a7a7a8;
}

.card {
  width: 1360px;
  margin: 0 auto;
}

.card-caption {
  padding: 40px 0 20px 0;
  display: flex;
  justify-content: space-between;
  color: #0f0e0e;
}

.card-caption p {
  font-size: 24px;
  line-height: 33px;
}

.card-caption img {
  width: 17px;
  cursor: pointer;
}

.product-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #0f0e0e;
}

.about {
  padding: 26px 0 40px 0;
  display: flex;
  justify-content: space-between;
}

.full-product-img {
  display: flex;
  justify-content: space-between;
  width: 620px;
  padding-bottom: 20px;
}

.other-img {
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.other-img img {
  width: 130px;
  height: 180px;
  border-radius: 16px;
}

.main-img img {
  width: 460px;
  height: 620px;
  border-radius: 16px;
}

.product-reviews {
  padding-bottom: 10px;
}

.product-reviews p {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #0f0e0e;
}

.mobile-reviews{
    display: none;
}

.review-rating {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
}

.review {
  width: 650px;
  background: #ffffff;
  border-radius: 16px;
  padding: 11px 8px 8px 8px;
  margin-bottom: 20px;
}

.author-rating {
  display: flex;
  padding: 0 20px 20px 0;
  align-items: center;
}

.author-rating p {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #292d51;
}

.review-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #292d51;
}

.add-button {
  text-align: center;
}

.add-review {
  cursor: pointer;
  padding: 16px;
  background: #292d51;
  border: 1px solid #ffffff;
  border-radius: 16px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.product-about {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.product-main-info {
  width: 321px;
  height: 205px;
  background: #ffffff;
  border-radius: 28px;
  margin-right: 40px;
  padding: 0 20px 0 26px;
}

.product-description {
  width: 321px;
  height: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #0f0e0e;
}

.product-description p {
  padding: 21px 0 20px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #0f0e0e;
}

.price-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 13px 0 20px 0;
  height: 37px;
}

.product-available {
  background-color: #292d51;
}

.product-not-available {
  background-color: #a7a7a8;
}

.product-available,
.product-not-available {
  width: 91px;
  height: 30px;
  border-radius: 8px;
  padding: 4px 0;
}

.product-sale {
  width: 63px;
  height: 37px;
  background: #292d51;
  border-radius: 34px;
  padding: 6px 0;
}

.product-available,
.product-not-available,
.product-sale {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 33px;
}

.price-new {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #292d51;
}

.price-old {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-decoration-line: line-through;
  text-decoration-thickness: 1px;
  color: #292d51;
}

.add {
  margin: 20px 0 26px;
  height: 56px;
  background: #292d51;
  padding: 12px 29px 13px 16px;
  text-align: center;
  border: 1px solid #0f0e0e;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.add img {
  width: 48px;
  height: 48px;
}

.product-details {
  padding-left: 18px;
}

.product-details-caption {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #0f0e0e;
}

.product-detail-group {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #0f0e0e;
  padding: 20px 0;
}

.product-detail-item {
  display: flex;
  justify-content: space-between;
}

.product-detail-label,
.product-detail-value {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #0f0e0e;
  padding-bottom: 8px;
}

.product-rating {
  margin-left: 36px;
}
.product-rating span {
  padding: 0;
  font-size: 24px;
  margin: 0 4px;
  line-height: 1;
  color: #a7a7a8;
}
.product-rating > span:before {
  content: "★";
}
.product-rating > span.active {
  color: #292d51;
}

.reviewer-rating {
  margin-left: 20px;
}

.reviewer-rating span {
  padding: 0;
  font-size: 24px;
  margin: 0 4px;
  line-height: 1;
  color: #a7a7a8;
}
.reviewer-rating > span:before {
  content: "★";
}
.reviewer-rating > span.active {
  color: #292d51;
}



@media screen and (max-width: 450px) {
    .card {
        width: 343px;
    }

    .card-caption {
        padding: 17px 0 17px 0;
        justify-content: space-between;
    }

        .card-caption p, .product-name {
            font-size: 16px;
            line-height: 22px;
        }

    .about {
        padding: 16px 0 16px 0;
        flex-direction: column;
    }

    .full-reviews {
        display: none;
    }

    .mobile-reviews{
        display: block;
    }

    .full-product-img {
        flex-direction: column-reverse;
        width: 100%;
        padding-bottom: 16px;
        gap: 16px;
    }

    .other-img {
        height: 100px;
        flex-direction: row;
        justify-content: space-around;
    }

        .other-img img {
            width: 80px;
            height: 100px;
        }

    .main-img img {
        width: 343px;
        height: 390px;
    }

    .product-reviews {
        padding-bottom: 10px;
    }

        .product-reviews p {
            font-weight: 700;
            font-size: 24px;
            line-height: 33px;
            color: #0f0e0e;
        }

    .review-rating {
        display: flex;
        padding-bottom: 20px;
        align-items: center;
    }

    .review {
        width: 100%;
        padding: 11px 8px 8px 8px;
        margin-bottom: 16px;
    }

    .author-rating {
        display: flex;
        padding: 0 20px 20px 0;
        align-items: center;
    }

        .author-rating p {
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            color: #292d51;
        }

    .review-text p {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #292d51;
    }

    .add-button {
        text-align: center;
    }

    .add-review {
        cursor: pointer;
        padding: 16px;
        background: #292d51;
        border: 1px solid #ffffff;
        border-radius: 16px;
        color: #ffffff;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
    }

    .product-about {
        flex-direction: column;
        gap: 16px;
    }

    .product-details {
        padding-left: 0;
    }

    .product-details-caption {
        font-weight: 700;
        font-size: 24px;
        line-height: 33px;
        color: #0f0e0e;
    }

    .product-detail-group {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        color: #0f0e0e;
        padding: 20px 0 16px 0;
    }

    .product-detail-item {
        display: flex;
        justify-content: space-between;
    }

    .product-detail-label,
    .product-detail-value {
        font-size: 14px;
        line-height: 19px;
        flex: 1;
    }

    .product-rating {
        margin-left: 16px;
    }

}