.novelties {
    height: 603px;
    background-color: #F0F0F2;
    position: relative;
}

.novelties-caption {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.novelties-caption p, a {
    font-size: 24px;
    font-weight: 700;
    color: #292D51;
    line-height: 32.68px; 

}

.novelties-caption a {
    text-decoration: underline 1px;
}

.novelties-items {
    display: flex;
}

.novelties-item {
    display: flex;
    flex-direction: column;
    width: 252px;
    height: 450px;
    margin-left: 40px;
    background-color: #ffffff;
    border-radius: 16px 16px 0px 0px;
}

.noveltie-img {
    height: 284px;
    position: relative;
}

.noveltie-img img {
    height: 284px;
    width: 252px;
    position: relative;
    border-radius: 16px 16px 0px 0px;
}

.noveltie-price {
    display: flex;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
}


.actual-price, .old-price {
    width: 126px;
    height: 27px;
    padding-top: 4px;
}

.actual-price {
    background-color: #292D51;
    border-radius: 0px 0px 8px 8px;
}

.old-price {
    color: #3E3E44;
    text-decoration-line: line-through;
    text-decoration-thickness: 1px;
}

.noveltie-about {
    padding: 3.5px 16px 0 16px
}

.item-name {
    color: #292D51;
    font-weight: 700;
    line-height: 22px;
}

.item-number {
    color: #292D51;
    padding: 8px 0 18.5px 0;
    font-size: 14px;
    line-height: 19px;
}

.add-to-basket {
    background-color: #A7A7A8;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 77px;
    height: 40px;
    border: none;
    border-radius: 8px;
}

.shop-rate {
    display: flex;
}

.rating {
    padding-left: 20px;
    font-size: 14px;
    line-height: 19px;
}

.not-available {
    width: 105px;
    background-color: #A7A7A8;
    left: 20px;
}

.available {
    width: 105px;
    background-color: #292D51;
    left: 20px;
}

.sale, .available, .not-available {
    position: absolute;
    height: 27px;
    top: 20px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    padding-top: 4px;
    color: #FFFFFF;
}

.sale {
    width: 49px;
    background-color: #292D51;
    right: 20px;
}

.ellipses {
    position: absolute;
    display: flex;
    top: 256px;
    left: 106px;
    width: 40px;
    height: 8px;
    gap: 8px;
}

.ellipse, .ellipse-select {
    border-radius: 45px;
    width: 8px;
    height: 8px;
    background: #292D51;
}

.ellipse {
    background: #F0F0F2;
}

.arrow-left, .arrow-right {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 314px;
    background-color: #292D51;
    border-radius: 45px;
    z-index: 2;
}

.arrow-left {
    left: 40px;
}

.arrow-right {
    right: 40px;
}

.arrow-left img {
    padding: 7.59px 14.59px;
}

.arrow-right img {
    padding: 7.59px 14.59px;
    transform: rotate(180deg);
}
