.novelties {
  height: 603px;
  background-color: #f0f0f2;
  position: relative;
}

.novelties-info {
    margin: 0 auto;
    width: 1420px;
}

.novelties-caption {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.novelties-caption p,
a {
  font-size: 24px;
  font-weight: 700;
  color: #292d51;
  line-height: 32.68px;
}

.novelties-caption a {
  text-decoration: underline 1px;
}

.novelties-items {
    display: flex;
  justify-content: space-around;
    gap: 40px;
    justify-content: space-around;
}

.more {
    position: absolute;
    cursor: pointer;
    left: 93%;
    width: auto;
    margin-top: 12%;
}

.less {
    position: absolute;
    cursor: pointer;
    left: 7%;
    width: auto;
    margin-top: 12%;
    transform: rotate(180deg);
    z-index: 1;
}

.arrow {
    position: relative;
    padding-top: 50%;
}

@media screen and (max-width: 450px) {
    .novelties {
        height: 700px;
    }
    
    .novelties-info {
        width: 343px;
    }

    .novelties-items {
        gap: 30px 19px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .more {
        left: 90%;
        margin-top: 312px
    }

    .more img, .less img{
        width: 24px;
        height: 24px;
    }

    .less {
        left: 3%;
        margin-top: 308px;
    }

    .novelties-caption {
        padding: 16px 0;
    }

        .novelties-caption p, a {
            font-size: 16px;
            line-height: 22px;
        }

        .novelties-caption a {
            font-size: 12px;
            line-height: 22px;
        }
}