.main {
    background-color: #F0F0F2;
    height: 596px;
    position: relative;
    display: flex;
}

.main-share {
    display: flex;
    height: 500px;
    width: 80%;
    text-align: center;
    margin: 48px 120px;
    background-color: #ffffff;
    justify-content: center;
    border-radius: 28px;
}

.main-share-text {
    flex: 3 1 100px;
    padding: 120px 0;
    line-height: 65px;
}

.main-share-text p{
    font-size: 48px;
    padding: 0 5%;
}

.main-share-img {
    flex: 2 1 100px;
}

.main-share img {
    width: 520px;
    height: auto;
}

.arrow-left, .arrow-right {
    position: absolute;
    width: 48px;
    height: 48px;
    top: 274px;
    background-color: #292D51;
    border-radius: 45px;
    z-index: 2;
}

.arrow-left {
    left: 30px;
}

.arrow-right {
    right: 30px;
}

.arrow-left img {
    padding: 7.59px 14.59px;
    width: 48px;
    height: 48px;
}

.arrow-right img {
    padding: 7.59px 14.59px;
    transform: rotate(180deg);
    width: 48px;
    height: 48px;
}

.main-ellipses {
    position: absolute;
    display: flex;
    top: 494px;
    text-align: center;
    width: 40px;
    height: 8px;
    gap: 8px;
}

.main-ellipse, .main-ellipse-select {
    border-radius: 45px;
    width: 8px;
    height: 8px;
    background: #292D51;
}

.main-ellipse {
    background: #A7A7A8;
}