.footer {
  padding: 58px 0 88px 0;
  height: 991px;
  background: #3e3e44;
  color: #ffffff;
}

.footer-info {
  width: 1287px;
  margin: 0 auto;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
}

.contacts {
  display: flex;
  justify-content: space-between;
  gap: 0 67px;
}

.column-name {
  padding-bottom: 2px;
  border-bottom: 0.5px solid;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
}

.column-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-top: 20px;
}

.column-info a {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.column-info img {
  width: 20px;
  margin-right: 13px;
  margin-bottom: -3px;
}

.column-info ul {
  list-style-type: none;
}

.column-info li {
  line-height: 2;
}

.social-nets {
  display: flex;
  align-content: center;
}

.contacts-link {
  display: none;
}

.address {
  width: 274px;
}

.map {
  width: 1122px;
  height: 406px;
}

.mobile-map {
  display: none;
}

.mobile-cont {
  display: none;
}

.location {
  display: flex;
  padding: 40px 0 30px;
  justify-content: space-between;
  align-content: center;
}

.shop-photos img {
  height: 188px;
}

.shop-photos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shop-about p {
  line-height: 22px;
  padding-bottom: 8px;
  padding-right: 80px;
}

@media screen and (max-width: 450px) {
  .footer {
    padding: 18px 0 15px 0;
    height: 901px;
  }

  .footer-info {
    width: 343px;
  }

  .footer-contacts {
    flex-wrap: wrap;
    gap: 22px 0;
  }

  .contacts {
    flex-direction: column;
    gap: 35px 0;
  }

  .column-name {
    font-size: 16px;
    line-height: 22px;
  }

  .footer-column,
  .address {
    width: 161px;
  }

  .contacts-link {
    display: inline-block;
  }

  .column-info img {
    margin-right: 7px;
  }

  .contacts-list li {
    font-size: 14px;
  }

  .mobile-cont {
    display: inline;
  }

  .map {
    width: 227px;
    height: 123px;
  }

  .mobile-map {
    display: inline-block;
  }

  .full-map {
    display: none;
  }

  .location {
    padding: 20px 0 16px;
  }

  .shop-photos img {
    height: 123px;
  }

  img.second-img {
    display: none;
  }

  .shop-about p {
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 16px;
    padding-right: 0;
  }
}
