.catalog-categories {
  height: 503px;
  background-color: #f0f0f2;
  padding: 40px 0;
}

.catalog-categories-info {
  width: 1360px;
  margin: 0 auto;
}

.catalog-categories-caption {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  align-items: center;
}

.catalog-categories-caption p,
a {
  font-size: 24px;
  font-weight: 700;
  color: #292d51;
  line-height: 32.68px;
}

.catalog-categories-caption a {
  text-decoration: underline 1px;
}

.categories {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.category {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.category-img {
  height: 268px;
}

.category-name {
  width: 100%;
  height: 82px;
  background: #292d51;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  padding-top: 24.5px;
}

@media screen and (max-width: 450px) {
  .catalog-categories {
    height: 542px;
    padding: 0;
  }

  .catalog-categories-info {
    width: 343px;
  }

  .catalog-categories-caption {
    padding: 16px 0;
  }

  .catalog-categories-caption p,
  a {
    font-size: 16px;
    line-height: 22px;
  }

  .catalog-categories-caption a {
    font-size: 12px;
    line-height: 22px;
  }

  .categories {
    flex-wrap: wrap;
    gap: 16px 19px;
  }

  .category-img {
    width: 162px;
    height: 164px;
  }

  .category-img img {
    width: 162px;
    height: 164px;
  }

  .category-name {
    height: 59px;
    font-size: 14px;
    line-height: 19px;
    padding-top: 20px;
  }
}
